  <section>
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <p class="<%= @product.red_price %>">Price: <%= number_to_currency(@product.price) %></p>
            <p>Tax: <%= number_to_currency(@product.tax) %></p>
            <p>Total: <%= number_to_currency(@product.total) %></p>
            <h3><%= @product.sale_message %></h3>
            <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>
            <p>Supplier Information</p>
            <ul>
              <li>Name: <%= @product.supplier.name %></li>
              <li>Email: <%= @product.supplier.email %></li>
              <li>Phone: <%= @product.supplier.phone %></li>
            </ul>
            <p>Description: <%= @product.description %></p>
            <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
            <%= link_to "Add Image", "/images/new?product_id=#{@product.id}" %>
        </div>
      </div>
    </div>
  </section>
